body{
	font-family: 'Lato', sans-serif;
	
}

#login-div{
	margin-left: 10px;
	padding: 10px 20px 10px 20px;
	background:rgba(112, 122, 139, 0.486);
	width: 400px;
	height: 200px;
	float: left;
}

input[type=button]{
	margin: 10px;
	float: right;
	width: auto;
}

#game-div{
	display: none;
	margin-left: 10px;
	padding: 10px 20px 10px 20px;
	background: rgba(112, 122, 139, 0.486);
	width: 400px;
	float: left;
}

#finish-game{
	display: none;
	width: 800px;
	background: rgba(112, 122, 139, 0.486);
	overflow: hidden;
}

#finish-msg-div{
	width: 400px;
	float: left;
}

#players-div{
	padding: 10px 20px 10px 20px;
	width: 300px;
	overflow: hidden;
	background: lightgrey;
}
