body{
	font-family: 'Lato', sans-serif;
	
}

#login-div{
	margin-left: 10px;
	padding: 10px 20px 10px 20px;
	background:rgba(112, 122, 139, 0.486);
	width: 400px;
	height: 200px;
	float: left;
}

input[type=button]{
	margin: 10px;
	float: right;
	width: auto;
}

#play-type{
	display: none;
}

#users_list{
	display: none;
}

#game-div{
	visibility: hidden;
	margin-left: 10px;
	padding: 10px 20px 10px 20px;
	background: rgba(112, 122, 139, 0.486);
	width: 400px;
	float: left;
}

#finish-game{
	visibility: hidden;
	width: 400px;
}
